@import "tailwindcss";

@theme {
  --height-main: calc(100svh - 4rem);
  --color-main-bg: rgb(36, 36, 36);
  --color-main-bg-hover: rgba(36, 36, 36, 0.1);

  --color-main-blue: #229ebc;
  --color-main-blue-dark: #04364E;
  --color-main-white:#F8FCFD;

  --height-mobile-header:8.5rem;
  --height-mobile-main: calc(100svh - 8.5rem);
  --height-mobile-admin:calc(var(--height-mobile-main) - 2rem);
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
